.Hero {
  @apply flex flex-col gap-6 xl:gap-8 pt-4 pb-8 px-6 x_sm:px-0 x_sm:py-5;
  max-width: 697px;
  margin: 0 auto;
  
  @screen x_sm {
    align-items: center;
  }
  
  h1 {
    @apply text-headline-md x_sm:text-display-sm xl:text-display-md font-bold;
    text-wrap: balance;
    
    span {
      @apply text-minty-080;
      font-size: inherit;
    }
    
    @screen x_sm {
      letter-spacing: -.16px;
      text-align: center;
    }
  }
  p{
    @apply text-body-xl xl:text-title-xl text-neutral-080;
    max-width: 410px;
    text-wrap: balance;
    
    @screen x_sm {
      margin: 0 auto;
      text-align: center;
    }
  }
  
  article{
    width: 100%;
    position: relative;
    
    @screen x_sm{
      text-align: center;
      max-width: 312px;
    }
    @screen xl{
      max-width: 410px;
    }
    input{
      border-radius: .5rem;
      border: 1px solid #0ae98a;
      background: #0d0f14;
      color: #fff;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5rem;
      letter-spacing: .16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 56px;
      padding: .375rem 2.5rem .375rem 1rem;
      margin: 0 auto;
      width: 100%; 
    }
    button{
      background: none;
      border: none;
      position: absolute;
      bottom: 0;
      right: 0;
      height: 3.5rem;
      width: 3rem;
      padding: 1rem .75rem;
      
      svg{
        @apply stroke-neutral-060;
        width: 100%;
        height: 100%;
        path{
          @apply stroke-neutral-060;
        }
      }
    }
  }
  
  label{
    @apply pb-4 block text-body-xl xl:text-title-xl text-neutral-080 font-medium;
  }
  h6{
    @apply text-body-md;
    margin-top: -1rem;
    text-wrap: balance;
    @screen x_sm{
      text-align: center;
    }
    @screen xl{
      @apply text-body-lg;
    }
  }
}