.CourseSchool{
  @apply p-4 bg-neutral-010 rounded-12;
  
  background-image: radial-gradient(circle at top right, var(--category-background-gradient, #fff), rgba(255, 0, 0, 0) 50%), radial-gradient(circle at bottom left, var(--category-background-gradient, #fff), rgba(255, 0, 0, 0) 50%);
  background-position: 100px 0, -144px 0;
  background-repeat: no-repeat, no-repeat;
  
  overflow: hidden;
  min-width: 288px;
  height: 313px;
  
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  
  // Desarrollo e Ingeniería
  &__category_5 {
    --category-background-color: #182320;
    --category-background-gradient: #36863b;
    --category-border-color: #23482a;
    --category-color: #b1d6b1;
  }
  
  // Diseño y UX
  &__category_6 {
    --category-background-color: #212030;
    --category-background-gradient: #8364c6;
    --category-border-color: #463a69;
    --category-color: #d2c6f7;
  }
  
  // Marketing
  &__category_7 {
    --category-background-color: #17232d;
    --category-background-gradient: #2f7da5;
    --category-border-color: #20455a;
    --category-color: #acd2e8;
  }
  
  // Negocios y Emprendimiento
  &__category_8 {
    --category-background-color: #25221c;
    --category-background-gradient: #af7e18;
    --category-border-color: #5a451b;
    --category-color: #f5d08e;
  }
  
  // Contenido Digital
  &__category_10 {
    --category-background-color: #25201d;
    --category-background-gradient: #a86724;
    --category-border-color: #563920;
    --category-color: #fbc898;
  }
  
  // Liderazgo
  &__category_11 {
    --category-background-color: #291d22;
    --category-background-gradient: #c84d4f;
    --category-border-color: #652f33;
    --category-color: #fdbdba;
  }
  
  // Startups
  &__category_16 {
    --category-background-color: #172327;
    --category-background-gradient: #328276;
    --category-border-color: #214745;
    --category-color: #b0d4cd;  
  }
  
  // Inglés
  &__category_17 {
    --category-background-color: #281d2b;
    --category-background-gradient: #bc4d91;
    --category-border-color: #602f51;
    --category-color: #ecc1d8;
  }
  
  figure {
    width: 56px;
    height: 56px;
  }
  
  &__container {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    
    h3 {
      @apply text-title-xl font-medium;
      color: var(--category-color, #fff);
    }
    
    p{
      @apply text-body-md;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 100px;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
    }
  }
  
  span {
    @apply text-body-md;
    margin-top: auto;
    justify-self: start;
    border-bottom: 1px solid #fff;
  }
  
}