@use "../../../styles/lib/mixins.scss" as mixins;

.SchoolFilterLoader {

  display: grid;
  justify-items: center;
  gap: .25rem;
  min-width: 80px;
  min-height: 92px;

  &__badge {
    @apply rounded-full bg-neutral-010;
    width: 56px;
    height: 56px;
    
    @include mixins.skeletonAnimation;
  }

  &__title {
    @apply mt-2 rounded-4 bg-neutral-010;
    width: 52px;
    height: 16px;
    
    @include mixins.skeletonAnimation;
  }
}