.Course {
  @apply mx-auto;
  padding: 1rem;
  padding-bottom: 8.75rem;
  max-width: 1200px;
  scrollbar-width: none;
  justify-self: self-start;

  display: grid;
  gap: 2.5rem;
  grid-template-columns: 1fr;
  grid-template-areas: "main" 
                       "mainAside" 
                       "opinions" 
                       "routes";
  
  @screen md {
    padding: 2rem;
  }
  
  @screen lg {
    grid-template-columns: 1fr 392px;
    grid-template-areas: "main mainAside"
                         "opinions opinions"
                         "routes routes";
    gap: 2rem;
    row-gap: 2rem;
  }
  
  @media screen and (min-width: 1200px){
    padding: 2rem 2.5rem;
  }
  
  @media screen and (min-width: 1440px){
    gap: 4rem;
    row-gap: 1.5rem;
  }
  
  &__backgroundImage {
    position: absolute;
    width: auto;
    height: auto;
    mix-blend-mode: screen;
    top: -142px;
    left: 0;
    max-width: 100%;
    aspect-ratio: 417.088 / 235.648;
    filter: blur(60px);
    pointer-events: none;
    left: 0%;
    
    @screen md {
      left: 10%;
      max-width: 574px;
    }
    
    @screen lg {
      left: 30%;
    }
  }
  
  &__main {
    @apply grid gap-y-6 relative;
    // overflow: hidden;
    grid-area: main;
  }
}