.Home {
  h2 {
    @apply mb-3 text-title-lg md:text-title-xl font-medium;
  }
  
  &__schoolFilters {
    @apply mb-2 pr-4 pb-3 bg-neutral-005;
    top: 0;
    z-index: 1;
    position: sticky;
    overflow-x: auto;
    scrollbar-width: none;
    overflow-x: scroll;
    display: flex;
    gap: .75rem;
  }
  
  &__container {
    @apply py-5 px-6;
  }
}