.InputSearch {
  @apply py-1 px-3 border border-night-37 bg-night-6 rounded-8;
  @apply hidden md:flex;
  width: 320px;
  grid-area: search;
  justify-self: start;
  position: relative;

  // input {
  //   width: 320px;
  // }

  @media screen and (min-width: 1300px) {
    justify-self: end;
  }
  
  button[type="submit"] {
    padding: 1px 6px;
    svg {
      @apply m-0 fill-mist-82;
      width: 1rem;
      height: 1.25rem;
    }
  }
  
  input {
    @apply bg-transparent font-normal text-mist-96;
    padding: 1px 2px;
    width: 100%;
    outline: none;
    font-size: .875rem;
    letter-spacing: .25px;
    line-height: 1.375rem;
    
    &::placeholder {
      @apply font-light text-mist-65;
    }
  }
  
  .list {
    display: none;
    max-height: 70vh;
    overflow-y: scroll;
    scrollbar-width: none;
    z-index: 10;
  }
  
  &--active {
    @apply border-primary-sky;
    
    .list {
      @apply p-2 border border-night-37 bg-night-12 rounded-8;
      position: absolute;
      top: calc(100% + .5rem);
      left: 0;
      right: 0;
      display: block;
      
      &__all{
        @apply p-1 mb-2 text-mist-65;
        display: flex;
        gap: .5rem;
        
        font-size: .75rem;
        line-height: 1.125rem;
      }
    }
  }
  
  &--home {
    @apply py-2 px-3 mx-auto border-neutral-030;
    max-width: 688px;
    background-color: rgba(0, 0, 0, .3);
    position: relative;
    width: 100%;
    // grid-area: unset;
    grid-area: unset !important;
    // max-width: 668px;
    
    input {
      padding-left: .25rem;
      font-size: .875rem;
      letter-spacing: .25px;
      line-height: 1.375rem;
      height: 22px;
      
      &::placeholder {
        @apply text-neutral-400;
      }
    }
    
    button[type="submit"] {
      padding: 0;  
    }
    
    .list {
      background-color: black;
      
      a {
        @apply bg-neutral-005;
        
        img {
          @apply mr-4;
        }
      }
    }
  }
  
  .list__all {
    background-color: transparent !important;
  }
}