.NavLink {
  @apply px-4 text-body-md font-medium text-neutral-080;
  position: relative;
  a {
    @apply py-3 pl-3 pr-1 hover:bg-neutral-010;
    border-radius: .375rem;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1.25rem;
    
    svg {
      width: 24px;
      height: 24px;
      fill: white;
    }
  }
  
  .active {
    @apply bg-minty-080;
    top: 0;
    left: 0;
    bottom: 0;
    width: 2px;
    position: absolute;
  }
}