.Hero {
  @apply flex flex-col gap-6 xl:gap-8 pt-4 pb-8 px-6 x_sm:px-0 x_sm:py-5;
  max-width: 697px;
  margin: 0 auto;
  
  @screen x_sm {
    align-items: center;
  }
  
  h1 {
    @apply text-headline-md x_sm:text-display-sm xl:text-display-md font-bold;
    text-wrap: balance;
    
    span {
      @apply text-minty-080;
      font-size: inherit;
    }
    
    @screen x_sm {
      letter-spacing: -.16px;
      text-align: center;
    }
  }
  
  p{
    @apply text-body-xl xl:text-title-xl text-neutral-080;
    max-width: 410px;
    text-wrap: balance;
    letter-spacing: .013rem;
    
    @screen x_sm {
      margin: 0 auto;
      text-align: center;
    }
  }
  
  label{
    @apply mb-6 block text-body-xl xl:text-title-xl text-neutral-080 font-medium;
    letter-spacing: .013rem;
  }
  
  h6{
    @apply text-body-md;
    margin-top: -1rem;
    text-wrap: balance;
    @screen x_sm{
      text-align: center;
    }
    @screen xl{
      @apply text-body-lg;
    }
  }
}