.SchoolFilter {
  button {
    width: 80px;
    display: grid;
    justify-items: center;
    gap: .25rem;

    .iconContainer {
      @apply rounded-full;
      width: 52px;
      height: 52px;
      display: grid;
      justify-content: center;
      align-items: center;
      background-color: var(--category-background-color, #1f2937);

      &:hover {
        background-color: var(--category-color-hover, #182320);
      }

      &.selected {
        background-color: var(--category-color, #182320) !important;
      }

      img {
        margin-top: 1px;
        width: 32px;
        height: 32px;
      }
    }

    svg {
      margin-bottom: 2px;
      width: 28px;
      height: 28px;
    }

    .title {
      height: 2.25rem;
      display: flex;
      align-items: center;

      span {
        @apply text-body-sm text-neutral-080;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }
  // Desarrollo e Ingeniería
  .category_5 {
    .iconContainer {
      --category-color: #b1d6b1;
      --category-color-hover: #1e3625;
      --category-background-color: #182320;
    }
  }

  // Diseño y UX
  .category_6 {
    .iconContainer {
      --category-color: #d2c6f7;
      --category-color-hover: #342d4d;
      --category-background-color: #212030;
    }
  }

  // Marketing
  .category_7 {
    .iconContainer {
      --category-color: #acd2e8;
      --category-color-hover: #1c3444;
      --category-background-color: #17232d;
    }
  }

  // Negocios y Emprendimiento
  .category_8 {
    .iconContainer {
      --category-color: #f5d08e;
      --category-color-hover: #41341b;
      --category-background-color: #25221c;
    }
  }

  // Contenido Digital
  .category_10 {
    .iconContainer {
      --category-color: #fbc898;
      --category-color-hover: #3f2e1f;
      --category-background-color: #25201d;
    }
  }

  // Liderazgo
  .category_11 {
    .iconContainer {
      --category-color: #fdbdba;
      --category-color-hover: #48262b;
      --category-background-color: #291d22;
    }
  }

  // Startups
  .category_16 {
    .iconContainer {
      --category-color: #b0d4cd;
      --category-color-hover: #1c3536;
      --category-background-color: #172327;
    }
  }

  // Inglés
  .category_17 {
    .iconContainer {
      --category-color: #ecc1d8;
      --category-color-hover: #44263e;
      --category-background-color: #281d2b;
    }
  }
}