.DropDown {
  
  @screen md {
    position: relative;
  }
  // z-index: 10;
  
  &__list {
    @apply pt-3;
    z-index: 5;
    left: 0;
    position: absolute;
    width: 10rem;
    top: 100%;
    
    span {
      display: none;
    }

    ul {
      @apply rounded-8 bg-neutral-005 overflow-hidden;
      width: 100%;
      text-align: start;
    }

    a {
      @apply hover:bg-neutral-030 block;
      padding: .75rem 1rem;
      width: 100%;
      max-height: 44px;
    }
  }
  
  &__mobile {
    @apply p-0;
    @apply bg-neutral-005;
    // @apply bg-cyan-500;
    // display: none;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    
    span {
      @apply py-3 px-4;
      display: flex;
      justify-content: space-between;
      
      svg {
        transform: rotateZ(90deg);
      }
      background-color: #31333d;
      text-align: start;
    }
    
    ul {
      border-radius: 0;
      a {
        padding: 0;
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}