.UserOptions {
  position: relative;
  justify-self: end;
  grid-area: login;
  
  &__button {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: .25rem;
    
    @screen xx_sm {
      gap: .75rem;
    }
    
    figure {
      @apply rounded-full overflow-hidden;
      img {
        width: 24px;
        height: 24px;
      }
    }
    
    span {
      display: block;
      font-size: 10px;
      font-weight: 700;
      letter-spacing: .16px;
      line-height: 18px;
      @screen xx_sm {
        font-size: 12px;
      }
    }
    
    svg {
      margin: 0 !important;
      width: 24px;
      height: 24px;
    }
  }
  
  
    &__logoutBtn {
      @apply p-2 px-4 rounded-12 bg-neutral-005 border border-neutral-030;
      position: absolute;
      z-index: 10;
      top: calc(100% + 10px);
      right: 0;
      color: #ff3933 !important;
      display: block;
      font-size: 12px;
      font-weight: 600;
      text-decoration: none;
      
      display: flex;
      align-items: center;
      gap: .5rem;
      
      svg {
        margin: 0 !important;
        fill: #ff3933 !important;
        width: 20px;
        height: 20px;
      }
    }
}